{{#foreach posts}}
<article class="{{post_class}}">
  <header class="post-header">
    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
  </header>
  <section class="post-excerpt">
    <p>{{excerpt words="60"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
  </section>
</article>
{{/foreach}}

{{pagination}}
