{{!< x-main}}
<div class="row clearfix main home">

	<div class="firstn-back">
		<div class="firstn-back-vignette">
			<div class="firstn-back-gradient">
				<div class="firstn-back-wrap">
					{{> svg/home-back}}
				</div>
			</div>
		</div>
	</div>

	<div class="firstn">
		<div class="firstn-wrap">
			<div class="column full firstn-wrap2">
				<div class="firstn-logo">
					<img src="{{asset "img/logo/logo1-w-big.png"}}">
				</div>
				<h1>{{@blog.description}}</h1>
				<p><a href="/download">Download</a> or find out more
				<span class="firstn-down">
					{{> svg/home-down}}
				</span>
				</p>
			</div>
		</div>
	</div>

	<div class="secondn">
		<div class="container">
			<div class="column secondn-wrap">
				<h2>SEE WHAT THE FUSS IS ABOUT</h2>
				<div class="secondn-player-wrap">
					<div class="secondn-player">
						{{> svg/home-monitor}}
						 <div class="secondn-video-wrap">
						 <div id="player"></div>
						 <img class="secondn-size-fix" src="{{asset "img/home/video-back.png"}}">
							<div class="secondn-overlay"></div>
							<div class="secondn-playicon">
								{{> svg/home-play}}
							</div>
							<div class="secondn-vignette"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="breaker b1">
		<div class="breaker-line"></div>
	</div>

	<div class="thirdn">
		<div class="thirdn-back">
			{{> svg/home-third-back}}
		</div>
		<div class="container">
			<h2>Why you might like OSMC</h2>
			<div class="table row clearfix thirdn-wrap">

				<div class="column two-thirds thirdn-pics">
					<div class="thirdn-pics-wrap">
						<div class="img-wrap1">
							<img class="img1 show" src="{{asset "img/skin/skin1.png"}}">
						</div>
						<div class="img-wrap2">
							<img class="img2" src="{{asset "img/skin/skin2.png"}}">
						</div>
						<div class="img-wrap3">
							<img class="img3" src="{{asset "img/skin/skin3.png"}}">
						</div>
						<div class="img-wrap4">
							<img class="img4" src="{{asset "img/skin/skin4.png"}}">
						</div>
					</div>
				</div>

				<div class="column third thirdn-text">
					<ul>
						<li class="link1 show">
							<div class="icon"></div>
							<h3>Simple and easy to use</h3>
							<p>OSMC has been designed to look great and be simple to use. Make it <i>your</i> OSMC in no time at all.</p>
						</li>
						<li class="link2">
							<div class="icon"></div>
							<h3>Free and open source</h3>
							<p>OSMC is great because it's built on great software with the same values. OSMC is based on <a href="http://debian.org/" target="_blank">Debian</a> Linux and <a href="http://kodi.tv/" target="_blank">Kodi</a> Media Center.</p>
						</li>
						<li class="link3">
							<div class="icon"></div>
							<h3>Meet our App Store</h3>
							<p>OSMC sports an App Store which lets you customise your OSMC experience to your liking. All from your remote.</p>
						</li>
						<li class="link4">
							<div class="icon"></div>
							<h3>Play (almost) anything</h3>
							<p>OSMC can play all major media formats out there from a variety of different devices and streaming protocols.</p>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>

	<div class="breaker b2">
		<div class="breaker-line"></div>
	</div>

	<div class="fourthn">
		<div class="container">
			<div class="table row clearfix fourthn-wrap">

				<div class="column half">
          <h2>Vero 4K is OSMC's flagship device. It will play anything you throw at it with full support for 4K, HEVC, 10-bit content and HD audio. <a class="fourthn-link" href="/vero">Learn more</a> about the best way to experience OSMC.</h2>
				</div>

				<div class="column half fourthn-img">
          <a href="/vero">
					 <img src="{{asset "img/vero3/vero-1.jpg"}}">
          </a>
				</div>

			</div>
		</div>
	</div>

	<div class="breaker b3">
		<div class="breaker-line"></div>
	</div>

	<div class="fifthn">
		<div class="container">
			<div class="row clearfix">
				<div class="column full fifthn-wrap">
					<h2>Let's get started</h2>
					<div class="fifthn-buttons">
						<a href="/download">Download</a><a href="https://osmc.tv/vero">Vero 4K</a><a href="/store">Store</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="breaker b4">
		<div class="breaker-line"></div>
	</div>

	<div class="sixn">
		<div class="container">
			<div class="row clearfix">
				<div class="column full sixn-wrap">
				<h3>Mentioned by</h3>

					<div class="row clearfix">
						<div class="column half sixn-right">
							<a target="_blank" href="http://www.nytimes.com/2013/01/31/technology/personaltech/raspberry-pi-a-computer-tinkerers-dream.html" class="sixn-logo">
								{{> svg/mention/nyt}}
							</a>
							<a target="_blank" href="http://www.wsj.com/articles/raspberry-pi-2-review-a-35-computer-can-do-a-heck-of-a-lot-1424200008" class="sixn-logo">
								{{> svg/mention/wsj}}
							</a>
						</div>
						<div class="column half sixn-left">
              <a target="_blank" href="http://arstechnica.com/information-technology/2013/04/airplaying-music-and-video-from-ipad-to-raspberry-pi-its-as-easy-as/" class="sixn-logo">
								{{> svg/mention/ars}}
							</a>
							<a target="_blank" href="http://lifehacker.com/the-raspberry-pi-2-is-faster-more-powerful-and-availa-1682814956" class="sixn-logo">
								{{> svg/mention/lifehacker}}
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
