{{!< x-main}}

<div class="vero lightbox-wrap">

  <section id="vero-intro" class="row clearfix vero-first">
    <span class="vero-first-text">
	<h1 class="vero-first-title">Vero V<br>Our fifth flagship. Still the best way to enjoy TV.</h1>
    </span>

    <div class="vero-first-img">
      <span class="vero-first-overlay"></span>
      <img src="{{asset "img/home/video-back.png"}}">
    </div>

    <span class="vero-first-buy">
      <a href="https://discourse.osmc.tv/t/vero-v-soft-launch/95701" class="button-big1 button-vero">Grab your Vero V today</a>
      <a href="#" class="button-big1 button-press">Read the announcement</a>
    </span>
  </section>

  <section id="vero-design" class="row clearfix vero-design">
    <div class="container">
      <div class="vero-wrap">
        <div class="column half">
          <div class="vero-design-text">
            {{> "svg/design"}}
	    <p>We've invested the last five years redesigning Vero from scratch to give you a device that will serve you for the next ten. Meet the next OSMC flagship. Meet the next powerhouse. Meet Vero V.</p>
            <p>Vero V features a future-proof design. Like its predecessor, it can effortlesly play back your 4K, 10-bit HDR content. Vero V adds support for new codecs such as AV-1 thus ensuring that it will remain the centerpiece of your living room for years to come.</p>
            <p>Vero V features improvements inside and outside the box. Vero V features improved wireless performance, double the memory, USB3 connectivity and a much faster CPU and GPU to make browsing your library snappier than ever.</p>
          </div>
        </div>
        <div class="column half">
          <div class="vero-design-images">
            <a class="lightbox" href="{{asset "img/vero5/verov-full.jpg"}}">
              <img src="{{asset "img/vero5/verov-full.jpg"}}">
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="vero-performance" class="row clearfix vero-perf">
    <div class="container">
      <div class="vero-wrap">

        <div class="column full">
          <div class="vero-perf-head">
            <h1 class="vero-perf-title">Performance and Features</h1>
          </div>
        </div>

        <div class="column full">
          <div class="vero-perf-sub">
            <h3>Purpose-built hardware for purpose-built OSMC</h3>
	    <h3>Vero V : ready to handle anything you throw at it. And more.</h3>
          </div>
        </div>

        <div class="column full">
          <span class="vero-feat-line"></span>
        </div>

        <div class="vero-feat">

          <div class="column half">
            <ul class="vero-feat-list">
              <li><h2><a class="current" href="#4k">4K HDR</a></h2></li>
              <li><h2><a href="#audio">HD Audio</a></h2></li>
              <li><h2><a href="#connectivity">Connectivity</a></h2></li>
              <li><h2><a href="#system">System</a></h2></li>
            </ul>
          </div>

          <div class="column half">
            <div class="vero-feat-content">

              <div class="vero-feat-box vero-feat-4k">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero3/4k.jpg"}}">
                  </div>
                <p><strong>Vero V can handle 4K playback with ease</strong>. Whether your content is encoded in HEVC, VP9 or even the new AV-1 format, Vero V is one of the few devices out there ready to handle it all. With support for HDR, HDR10+ and HLG technologies, you'll get an excellent picture on any display. Future. Proof.</p>
                </div>
              </div>

              <div class="vero-feat-box vero-feat-audio">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero3/hd.jpg"}}">
                  </div>
		  <p><strong>Hear every detail</strong>. In addition to 192Khz PCM, Vero V supports 7.1 channel bit-perfect passthrough of major audio formats, including DTS-HD Master Audio, DTS: X, Dolby TrueHD and Dolby Atmos. And with support for optical audio and analogue audio output, you'll hear every detail regardless of your setup.</p>
                </div>
              </div>

              <div class="vero-feat-box vero-feat-connectivity">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero5/connectivity-explain.jpg"}}">
                  </div>
		  <p><strong>No wires necessary</strong>. Vero V doesn't fall short when it comes to connectivity. Whether you want to enjoy a rock solid wireless connection or you want to add more storage, Vero V has you covered. With USB3, you'll be able to get blazing fast speeds and power most hard drives without an external power supply.</p>
                </div>
              </div>

              <div class="vero-feat-box vero-feat-system">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero5/system-explain.jpg"}}">
                  </div>
                  <p><strong>Vero V can handle it all</strong>. Coupled with 4GB RAM and high speed eMMC solid state storage, you'll experience desktop class performance, without the desktop. A new snappy CPU and GPU means that browsing even the largest of libraries with resource heavy skins will be quick and easy. </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="vero-feat-buy">
          <a href="https://discourse.osmc.tv/t/vero-v-soft-launch/95701" class="button-vero button-big1">Grab your Vero V today</a>
        </div>
    </div>
  </section>

  <section id="vero-osmc" class="row clearfix vero-osmc">

    <div class="vero-wrap">
      <div class="container">
        <img class="vero-osmc-title" src="{{asset "img/logo/logo1-w-big.png"}}">
        <div class="vero-osmc-text">
        <p>Almost a decade old, OSMC has cemented its position as the world's most popular home theatre operating system and we still feel like we're just getting started.</p>
	<p>With Vero V, you'll feel familiar with the ease of OSMC. You'll retain OSMC's simplicity: its automatic update system; its App Store as well as its expansive Linux system. But, for the first time, you'll also experience OSMC at its full potential with speeds and performance you won't recognise on any other device. </p>
        <p>With Vero V, you'll be using OSMC software with OSMC's bespoke hardware. This will provide you with a powerful, unparalleled experience. Whether you want to kick back with a movie, use a torrent client, stream content to a device, or do all of this at the same time, Vero V's powerful CPU and generous memory will have you covered. It won't even break a sweat.</p>
	<p>We invite you to join the many who enjoy Vero every day and enjoy OSMC the way it's meant to be used: on Vero V.</p>
        </div>
      </div>
    </div>

  </section>

  <section id="vero-order" class="row clearfix vero-order">
    <div class="container">
      <div class="vero-wrap">

        <div class="column half flow-opposite">
          <div class="vero-order-text">
            <h1 class="vero-order-title">Vero V</h1>
            <ul class="vero-order-info">
              <li><h3>Midnight Black</h3></li>
              <li><h3>£149</li>
              <li><h3>Free and fast worldwide shipping</h3></li>
            </ul>
            <a href="https://discourse.osmc.tv/t/vero-v-soft-launch/95701" class="button-vero">Buy Now</a>

          </div>
        </div>

        <div class="column half">
          <div class="vero-order-img">
            <a class="lightbox" href="{{asset "img/vero5/VBox.jpg"}}">
              <img src="{{asset "img/vero5/VBox.jpg"}}">
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="vero-connectivity" class="row clearfix vero-include">
    <div class="container">
      <div class="vero-wrap">

        <div class="column full vero-include-tech">
        <div class="column third">
          <div class="vero-include-tech-images">
            <a class="lightbox" href="{{asset "img/vero5/verov-connectivity1.jpg"}}">
              <img src="{{asset "img/vero5/verov-connectivity1.jpg"}}">
            </a>
            <a class="lightbox" href="{{asset "img/vero5/verov-connectivity2.jpg"}}">
              <img src="{{asset "img/vero5/verov-connectivity2.jpg"}}">
            </a>
          </div></div>
        <div class="column two-thirds">
          <h1 class="vero-include-title">Your Vero V (Tech Specs)</h1>
          <ul>
		<li>Quad Core 2Ghz ARM 64-bit processor (S905X4-O)</li>
		<li>4GB DDR4 RAM and 32GB eMMC storage [1]</li>
		<li>Built in 802.11 ac/n/g/b WiFi with Bluetooth 4.0</li>
		<li>Built-in IR and RF receivers</li>
		<li>2x USB 2.0 ports, 1x internal, 1x external</li>
		<li>1x USB 3.0 port (0.9A output)</li>
		<li>micro SD card slot</li>
		<li>3.5mm analogue audio output</li>
		<li>Optical (SPDIF) audio output</li>
		<li>HDMI 2.1 with CEC (control your Vero V with your TV remote)</li>
		<li>Dynamic Refresh Rate adjustment (with 23.976/24p support)</li>
		<li>Gigabit Ethernet</li>
		<li>4K, H265/VP9/AV1, HDR10, HDR10+ and HLG ready</li>
		<li>Dimensions: 11.5cm x 11.5cm x 2cm</li>
		<li>Weight: 178 grams</li>
          </ul>
        </div></div>
      </div>
    </div>
  </section>
  <section id="vero-include-box" class="row clearfix vero-include">
    <div class="container">
      <div class="vero-wrap">
<div class="column full vero-include-tech">
        <div class="column third">
          <h1 class="vero-include-title">In your box</h1>
          <ul>
            <li>Vero V</li>
            <li>HDMI cable</li>
            <li>OSMC RF remote control</li>
            <li>Power plug</li>
            <li>Quick start guide</li>
            <li>1 year international warranty</li>
            <li>5 years of software updates</li>
          </ul></div>
          <div class="column two-thirds">
          <div class="vero-include-tech-images">
            <a class="lightbox" href="{{asset "img/vero5/VBox.jpg"}}">
              <img src="{{asset "img/vero5/VBox.jpg"}}">
            </a>
          </div></div>
        </div>
      </div>
    </div>
  </section>

  <section id="vero-faq" class="row clearfix vero-faq">
    <div class="container">
      <div class="vero-wrap">

        <div class="column full">
          <h1 class="vero-faq-title">FAQ</h1>
        </div>

        <div class="column half">
          <ul>
            <li>What warranty does Vero ship with? </li>
            <li>Vero V comes with a 1 year international warranty on the hardware and five years of software support. In the unlikely event anything goes wrong, we've got you covered.</li>
            <li>How do I upgrade my Vero's storage? </li>
            <li>You can add external storage by popping in a micro SD card or a USB hard drive. This storage can be automatically shared across your home network.</li>
            <li>Which video formats can I play?</li>
            <li>Vero V can play a multitude of video formats, including MPEG-2, VC-1, H264, H265 / HEVC and AV1. It can play all popular containers such as MKV, MP4, MOV, WMV, TS, M2TS etc.</li>
            <li>Can I install the same software and use the same plugins I've used on other OSMC devices, such as Raspberry Pi?</li>
            <li>Yes. Vero V runs OSMC, so you'll be able to use the same software and plugins you have used on other devices. You'll also feel right at home as soon as you get your device.</li>
            </ul>
        </div>

        <div class="column half">
          <ul>
            <li>Where does Vero V ship from?</li>
	    <li>Vero V ships from the UK to anywhere in the world with 3-5 day delivery.</li>
            <li>Is Vero V that much of an upgrade over Raspberry Pi?</li>
	    <li>Yes. The Raspberry Pi is centered around education while Vero V is purpose built to run OSMC. Vero V will provide a faster experience thanks to its eMMC storage. It also handles more media formats such as AV-1, 3D MVC as well as advanced HDR capabilities.</li>
            <li>How long will the Vero V be supported for? </li>
            <li>Some vendors stop supporting devices after a few months. Vero V will receive five years of guaranteed software updates delivering new features, performance improvements, and security updates. We're still supporting our previous devices Vero 4K and Vero 4K + after over seven years.</li>
	    <li>What type of plug will I receive? Do I need an adapter?</li>
            <li>We will ship a power plug appropriate for your country. If you require a different adapter, please let us know when placing your order.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="vero-ast" class="row clearfix vero-ast">
    <div class="container">
      <div class="column full">
        <ul>
          <li>[1] <span>Actual formatted capacity will be less. Some space will be used by the operating system</span></li>
        </ul>
      </div>
    </div>
  </section>

  <div class="vero-menu">
    <ul>
      <li class="current"><a href="#vero-intro">Vero V</a></li>
      <li><a href="#vero-design">Design</a></li>
      <li><a href="#vero-performance">Performance</a></li>
      <li><a href="#vero-osmc">OSMC</a></li>
      <li><a href="#vero-order">Buy</a></li>
      <li><a href="#vero-connectivity">Connectivity</a></li>
      <li><a href="#vero-faq">FAQ</a></li>
    </ul>
  </div>

</div>
