{{!< x-main}}

<script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '93022ca6f6eeebd32ef512723d5f18fded1c3995');
</script>

<div class="vero lightbox-wrap">

  <section id="vero-intro" class="row clearfix vero-first">
    <span class="vero-first-text">
	<h1 class="vero-first-title">The all new Vero 4K<br>The best way to enjoy TV just got better</h1>
    </span>

    <div class="vero-first-img">
      <span class="vero-first-overlay"></span>
      <img src="{{asset "img/home/video-back.png"}}">
    </div>

    <span class="vero-first-buy">
      <a href="http://buy.getvero.tv" class="button-big1 button-vero">Grab your Vero 4K today</a>
      <a href="https://osmc.tv/2017/02/osmc-announces-vero-4k/" class="button-big1 button-press">Read the announcement</a>
    </span>
  </section>

  <section id="vero-design" class="row clearfix vero-design">
    <div class="container">
      <div class="vero-wrap">
        <div class="column two-thirds">
          <div class="vero-design-text">
            {{> svg/design}}
	    <p>We've spent the last year redesigning Vero from the inside out to bring you one of the world's most powerful devices in one of the world's smallest form factors. The result is Vero 4K. A device bringing you PC grade performance, without the PC.</p>
	    <p>Enjoy your TV like never before with Vero 4K's future proof design. The new powerhouse can play back your 4K and 10-bit content without breaking a sweat. With support for all major formats, you can be certain that it will be the centerpiece of your living room for many years to come.</p>
	    <p>To round things off, we've bolstered connectivity so wherever you want to enjoy your TV, you can do so effortlessly. Vero 4K boasts excellent wireless performance, fast memory, large storage and a 64-bit architecture.</p>
          </div>
        </div>
        <span class="vero-design-line-wrap">
          <span class="vero-design-line"></span>
        </span>
        <div class="column third">
          <div class="vero-design-images">
            <a class="lightbox" href="{{asset "img/vero3/vero-2.jpg"}}">
              <img src="{{asset "img/vero3/vero-2.jpg"}}">
            </a>
            <a class="lightbox" href="{{asset "img/vero3/vero-3.jpg"}}">
              <img src="{{asset "img/vero3/vero-3.jpg"}}">
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="vero-performance" class="row clearfix vero-perf">
    <div class="container">
      <div class="vero-wrap">

        <div class="column full">
          <div class="vero-perf-head">
            <h1 class="vero-perf-title">Performance and Features</h1>
          </div>
        </div>

        <div class="column full">
          <div class="vero-perf-sub">
            <h3>Purpose built hardware for purpose built OSMC</h3>
	    <h3>Vero 4K: ready to handle anything you throw at it</h3>
          </div>
        </div>

        <div class="column full">
          <span class="vero-feat-line"></span>
        </div>

        <div class="vero-feat">

          <div class="column half">
            <ul class="vero-feat-list">
              <li><h2><a class="current" href="#4k">4K Ready</a></h2></li>
              <li><h2><a href="#audio">HD Audio</a></h2></li>
              <li><h2><a href="#connectivity">Connectivity</a></h2></li>
              <li><h2><a href="#64bit">64-bit</a></h2></li>
            </ul>
          </div>

          <div class="column half">
            <div class="vero-feat-content">

              <div class="vero-feat-box vero-feat-4k">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero3/4k.jpg"}}">
                  </div>
		  <p><strong>Ready for next generation TV</strong>. Vero can handle 4K playback with ease. Whether your content is encoded in H265 / VP9 or even HDR10, Vero 4K is one of the few devices out there ready to handle it. Future. Proof.</p>
                </div>
              </div>

              <div class="vero-feat-box vero-feat-audio">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero3/hd.jpg"}}">
                  </div>
		  <p><strong>Hear every detail</strong>. In addition to 192Khz PCM, Vero 4K supports 7.1 channel lossless passthrough of major audio formats, including DTS-HD Master Audio, DTS: X, Dolby TrueHD and Dolby Atmos. And with support for optical audio and analogue audio out, you'll hear things you've never heard before whatever your setup.</p>
                </div>
              </div>

              <div class="vero-feat-box vero-feat-connectivity">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero3/connected.jpg"}}">
                  </div>
		  <p><strong>No wires necessary</strong>. Vero 4K doesn't fall short when it comes to connectivity. Whether you want to enjoy a rock solid wireless connection or you want to add more storage, Vero has you covered.</p>
                </div>
              </div>

              <div class="vero-feat-box vero-feat-64bit">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero3/64bit.jpg"}}">
                  </div>
		  <p><strong>Vero will handle anything you throw at it</strong>. Vero 4K is one of the first few ARM devices to feature a 64-bit environment, from hardware to software. Coupled with 2GB RAM and high speed eMMC solid state storage, you'll experience desktop class performance, without the desktop.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="vero-feat-buy">
          <a href="http://buy.getvero.tv" class="button-vero button-big1">Grab your Vero 4K today</a>
        </div>
    </div>
  </section>

  <section id="vero-osmc" class="row clearfix vero-osmc">

    <div class="vero-wrap">
      <div class="container">
        <img class="vero-osmc-title" src="{{asset "img/logo/logo1-w-big.png"}}">
        <div class="vero-osmc-text">
	<p>With the help of you, our users, OSMC has evolved to become the world's most popular home theatre operating system in just two years. And we're just getting started.</p>
	<p>With Vero 4K, you'll feel familiar with the ease of OSMC. You'll retain OSMC's simplicity: its automatic update system; its App Store as well as its expansive Linux system. But, for the first time, you'll also experience OSMC at its full potential with speeds and performance you won't recognise on any other device. </p>
	<p>With Vero 4K, you'll be using OSMC software with OSMC's bespoke hardware. This will provide you with a powerful, unparalleled experience. Whether you want to kick back with a movie, use a torrent client, stream content to a device, or do all of this at the same time, Vero 4K's mighty processor's got you covered, and it won't even break a sweat.</p>
	<p>We invite you to join thousands of other users who enjoy Vero every day and watch your TV experience get better and better every day before your eyes.</p>
        </div>
      </div>
    </div>

  </section>

  <section id="vero-order" class="row clearfix vero-order">
    <div class="container">
      <div class="vero-wrap">

        <div class="column half flow-opposite">
          <div class="vero-order-text">
            <h1 class="vero-order-title">Vero 4K</h1>
            <ul class="vero-order-info">
              <li><h3>Midnight Black</h3></li>
	      <li><h3><strike>£119</strike> £99 <strong>(ends soon)</strong></li>
              <li><h3>Free and fast worldwide shipping</h3></li>
            </ul>
            <a href="http://buy.getvero.tv" class="button-vero">Buy Now</a>

          </div>
        </div>

        <div class="column half">
          <div class="vero-order-img">
            <a class="lightbox" href="{{asset "img/vero3/box.jpg"}}">
              <img src="{{asset "img/vero3/box.jpg"}}">
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="vero-include" class="row clearfix vero-include">
    <div class="container">
      <div class="vero-wrap">

        <div class="column half flow-opposite">
          <h1 class="vero-include-title">In your box</h1>
          <ul>
            <li>Vero 4K</li>
            <li>HDMI cable</li>
            <li>OSMC RF remote control</li>
	    <li>TV mounting kit</li>
            <li>Power plug</li>
            <li>1 year international warranty</li>
            <li>5 years of software updates</li>
          </ul>
        </div>

        <div class="column half vero-include-tech">
          <h1 class="vero-include-title">Your Vero 4K (Tech Specs)</h1>
          <ul>
            <li>Quad Core 1.6Ghz 64-bit processor</li>
            <li>2GB DDR3 RAM and 16GB eMMC storage <span class="vero-ast-icon" title="See bottom">[1]</span></li>
	    <li>Built in 802.11 ac/n/g/b WiFi with Bluetooth 4.0</li>
	    <li>IR and RF receiver</li>
            <li>2x USB 2.0 ports</li>
            <li>micro SD card slot</li>
	    <li>3.5mm analogue audio output</li>
	    <li>Optical (SPDIF) audio output</li>
            <li>HDMI 2.0 with CEC (control your Vero 4K with your TV remote)</li>
            <li>Dynamic Refresh Rate adjustment (with 23.976/24p support)</li>
            <li>Fast Ethernet</li>
            <li>4K, H265, HDR10 ready</li>
            <li>Dimensions: 9 x 9 x 2cm / 3.5 x 3.5 x 0.75 inches</li>
            <li>Weight: 140 grams / 5 oz</li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section id="vero-faq" class="row clearfix vero-faq">
    <div class="container">
      <div class="vero-wrap">

        <div class="column full">
          <h1 class="vero-faq-title">FAQ</h1>
        </div>

        <div class="column half">
          <ul>
            <li>What warranty does Vero ship with? </li>
            <li>Vero 4K comes with a 1 year international warranty on the hardware and five years of software support. In the unlikely event anything goes wrong, we've got you covered.</li>
            <li>How do I upgrade my Vero's storage? </li>
            <li>You can add external storage by popping in a micro SD card or a USB hard drive. This storage can be automatically shared across your home network.</li>
            <li>Which video formats can I play?</li>
            <li>Vero 4K can play a multitude of video formats, including MPEG-2, VC-1, H264, H265 / HEVC and 10-bit HEVC. It can play all popular containers such as MKV, MP4, MOV, WMV, TS, M2TS etc.</li>
            <li>Can I install the same software and use the same plugins I've used on other OSMC devices, such as Raspberry Pi?</li>
            <li>Yes. Vero 4K runs OSMC, so you'll be able to use the same software and plugins you have used on other devices. You'll also feel right at home as soon as you get your device.</li>
            </ul>
        </div>

        <div class="column half">
          <ul>
            <li>Where does Vero 4K ship from? Will I have to pay custom or import duties?</li>
	    <li>Vero 4K ships from the UK to anywhere in the world with 3-5 day delivery. You will not have to pay any additional fees.</li>
            <li>Is Vero 4K that much of an upgrade over Raspberry Pi 3?</li>
	    <li>Yes. The Raspberry Pi is centered around education while Vero 4K is purpose built to run OSMC. Vero 4K is a lot faster than Raspberry Pi thanks to its eMMC storage, 64-bit architecture.</li>
            <li>How long will the Vero 4K be supported for? </li>
            <li>Some vendors stop supporting devices after a few months. Vero 4K will receive five years of guaranteed software updates delivering new features, performance improvements, and security updates.</li>
	    <li>What type of plug will I receive? Do I need an adapter?</li>
            <li>We will ship a power plug appropriate for your country. If you require a different adapter, please let us know when placing your order.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="vero-ast" class="row clearfix vero-ast">
    <div class="container">
      <div class="column full">
        <ul>
          <li>[1] <span>Actual formatted capacity will be less. Some space will be used by the operating system</span></li>
        </ul>
      </div>
    </div>
  </section>

  <div class="vero-menu">
    <ul>
      <li class="current"><a href="#vero-intro">Vero 4K</a></li>
      <li><a href="#vero-design">Design</a></li>
      <li><a href="#vero-performance">Performance</a></li>
      <li><a href="#vero-osmc">OSMC</a></li>
      <li><a href="#vero-order">Buy</a></li>
      <li><a href="#vero-faq">FAQ</a></li>
    </ul>
  </div>

</div>
