{{!< default}}
<div class="vero">

  <section id="vero-intro" class="row clearfix vero-first">
    <span class="vero-first-text">
      <h1 class="vero-first-title">The all new Vero media player<br>A little bigger. A lot more powerful.</h1>
    </span>
    
    <div class="vero-first-img">
      <span class="vero-first-overlay"></span>
      <img src="{{asset "img/home/video-back.png"}}">
    </div>
    
    <span class="vero-first-buy">
      <a href="http://buy.getvero.tv" class="button-big1 button-vero">Order now</a>
    </span>
  </section>

  <section id="vero-design" class="row clearfix vero-design">
    <div class="container">
      <div class="vero-wrap">
        <div class="column two-thirds">
          <div class="vero-design-text">
            {{> svg/design}}
            <p>Vero is the Italian word for true and we feel it reflects our belief and commitment to open source software. We've certainly learned a lot in a year. Vero has always been the best way to experience OSMC. And with our new Vero, this holds truer than ever before. </p><p> Our new Vero boasts improved WiFi, better performance and many new features. At just over four inches square, Vero 2 packs a lot of punch in a small form factor.<br>Its sleek, chamfered design delivers a subtle undertone of class that will fit in to any living room. With a wealth of connectivity, you can use any of your peripherals.<p>This is plug and play. This is Vero.</p>
</p>
          </div>
        </div>
        <span class="vero-design-line-wrap">
          <span class="vero-design-line"></span>
        </span>
        <div class="column third">
          <div class="vero-design-images lightbox">
            <a class="chocolat-image" href="{{asset "img/vero2/vero-2.jpg"}}">
              <img src="{{asset "img/vero2/vero-2.jpg"}}">
            </a>
            <a class="chocolat-image" href="{{asset "img/vero2/vero-3.jpg"}}">
              <img src="{{asset "img/vero2/vero-3.jpg"}}">
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section id="vero-performance" class="row clearfix vero-perf">
    <div class="container">
      <div class="vero-wrap">
        
        <div class="column full">
          <div class="vero-perf-head">
            <h1 class="vero-perf-title">Performance and Features</h1>
          </div>
        </div>
        
        <div class="column full">
          <div class="vero-perf-sub">
            <h3>4x faster CPU & GPU performance than Vero 1</h3>
            <h3>Vero features a fast quad core processor and a dual core GPU. Whatever you throw at it, Vero will handle it.</h3>
          </div>
        </div>
        
        <div class="column full">
          <span class="vero-feat-line"></span>
        </div>
                
        <div class="vero-feat">
          
          <div class="column half">
            <ul class="vero-feat-list">
              <li><h2><a class="current" href="#interlace">Advanced Deinterlacing</a></h2></li>
              <li><h2><a href="#hevc">HEVC / H265</a></h2></li>
              <li><h2><a href="#apps">Apps</a></h2></li>
              <li><h2><a href="#mirroring">Screen Mirroring</a></h2></li>
            </ul>
          </div>
          
          <div class="column half">
            <div class="vero-feat-content">
              
              <div class="vero-feat-box vero-feat-interlace">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero2/interlace.jpg"}}">
                  </div>
                  <p>Advanced motion adaptive deinterlacing means that Vero handles challenging video content such as Live TV with ease. With Vero, you’ll be able to enjoy TV in its full, pixel-perfect glory. The way it was meant to be watched.</p>
                </div>
              </div>
              
              <div class="vero-feat-box vero-feat-hevc">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero2/hevc.png"}}">
                  </div>
                  <p>A next generation device needs support for next generation codecs. We wanted to support things that really make a device future-proof. H265 delivers the same quality video as H264 at half the size. This year, more and more content will be encoded in H265.</p>
                </div>
              </div>
              
              <div class="vero-feat-box vero-feat-apps">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero2/apps.jpg"}}">
                  </div>
                  <p>It's all about the Apps! With Vero, you can switch between Android and OSMC right from your remote. Experience the best of OSMC and Android on one device and enjoy popular Android apps right on the big screen. <span class="vero-ast-icon" title="See bottom">[1,2,3]</span></p>
                </div>
              </div>
              
              <div class="vero-feat-box vero-feat-mirroring">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero2/mirroring.jpg"}}">
                  </div>
                  <p>OSMC Screen Mirroring lets you enjoy your apps on your Android smartphone or tablet right on the big screen. <span class="vero-ast-icon" title="See bottom">[4]</span></p>
                </div>
              </div>
              
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </section>

  <section id="vero-osmc" class="row clearfix vero-osmc">
    
    <div class="vero-wrap">
      <div class="container">
        <img class="vero-osmc-title" src="{{asset "img/logo/logo1-w-big.png"}}">
        <div class="vero-osmc-text">
          <p>OSMC, founded just over a year ago, is now the world’s leading media center OS with over half a million regular users. Great software needs great hardware. Vero lets you enjoy OSMC at its absolute best and because we’ve designed both the hardware and the software, you’ll experience the very best of performance, stability and a diverse and ever growing set of features. All things you’ve come to expect from OSMC.</p>
          <p>
          This Summer, we’ll reveal OSMC Cloud. OSMC Cloud allows you to enjoy OSMC and your content wherever you are, across multiple devices. OSMC Cloud users can also tell us what they want to see in future iterations of OSMC as well as test new features and Apps before anyone else. 
  All generations of Vero users will receive their invite to OSMC Cloud as soon as we're ready.</p>
        </div>
      </div>
    </div>
    
  </section>

  <section id="vero-order" class="row clearfix vero-order">
    <div class="container">
      <div class="vero-wrap">
        
        <div class="column half flow-opposite">
          <div class="vero-order-text">
            <h1 class="vero-order-title">Vero</h1>
            <ul class="vero-order-info">
              <li><h3>Midnight Black</h3></li>
              <li><h3>£99 / $149 / €135</h3></li>
              <li><h3>In stock</h3></li>
            </ul>
            <a href="http://buy.getvero.tv" class="button-alt3 button-vero">Order now</a>
            
          </div>
        </div>
        
        <div class="column half">
          <div class="vero-order-img lightbox">
            <a class="chocolat-image" href="{{asset "img/vero2/box.jpg"}}">
              <img src="{{asset "img/vero2/box.jpg"}}">
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <section id="vero-include" class="row clearfix vero-include">
    <div class="container">
      <div class="vero-wrap">
                
        <div class="column half flow-opposite">
          <h1 class="vero-include-title">Your Vero</h1>
          <ul>
            <li>Vero media player with 8GB storage</li>
	    <li>1M HDMI cable</li>
	    <li>Vero Remote Controller</li>
            <li>Power supply</li>
            <li>Three years of guaranteed software updates</li>
          </ul>
        </div>
        
        <div class="column half vero-include-tech">
          <h1 class="vero-include-title">Tech Specs</h1>
          <ul>
            <li>Quad Core 1.6Ghz Cortex-A5 ARM processor</li>
            <li>Built in 802.11 b/g/n WiFi 2.4Ghz</li>
            <li>IR and RF receiver</li>
            <li>1GB DDR3 RAM</li>
            <li>8GB internal storage <span class="vero-ast-icon" title="See bottom">[5]</span></li>
            <li>4 USB ports (3x USB 2.0 / 1x USB 2.0 OTG)</li>
            <li>SD card slot</li>
	    <li>3.5mm SPDIF audio output</li>
            <li>HDMI 1.4 with CEC (control your Vero with your TV remote)</li>
            <li>3D ready</li>
            <li>Fast Ethernet</li>
            <li>Full HD 24Hz output</li>
            <li>Dimensions: 11 x 11 x 2.2cm / 4.3 x 4.3 x 1 inches</li>
            <li>Weight: 150 grams / 5 oz</li>
          </ul>
        </div>
        
      </div>
    </div>
  </section>

  <section id="vero-faq" class="row clearfix vero-faq">
    <div class="container">
      <div class="vero-wrap">
        
        <div class="column full">
          <h1 class="vero-faq-title">FAQ</h1>
        </div>
        
        <div class="column half">
          <ul>
            <li>What warranty does Vero ship with? </li>
            <li>Vero ships with a 1 year international warranty on the hardware. </li>
            <li>Can I upgrade Vero's storage? </li>
            <li>Vero's internal storage is 8GB, but you can add external storage by popping in a compatible SD card or a USB hard drive. </li>
            <li>What are its physical dimensions? </li>
            <li>Vero is approximately 11 x 11 x 2.2 cm. It weighs just 150 grams. You'll only come to appreciate its size when you experience it in person.</li>
            </ul>
        </div>
        
        <div class="column half">
          <ul>
            <li>Where does Vero ship from? Will I have to pay customs? </li>
            <li>Vero will ship from the UK. You can learn more about customs charges <a href="https://store.osmc.tv/shipping" target="_blank">here</a>.</li>
            <li>Is Vero that much faster than a Raspberry Pi 2? </li>
            <li>You bet, but Vero also has additional features. It can play back H265 content and has better deinterlacing, which comes in hany if you're watching demandin content such as Live TV.</li>
            <li>How long will the Vero be supported for? </li>
            <li>Vero 2 will receive three years of guaranteed software updates delivering new features and performance improvements, and five years of guaranteed security updates.</li>
          </ul>
        </div>
        
      </div>
    </div>
  </section>

  <section id="vero-ast" class="row clearfix vero-ast">
    <div class="container">
      <div class="column full">
        <ul>
          <li>[1]. <span>Requires an SD card. Available for purchase separately. Android software can be downloaded and imaged on your own card from the OSMC website</span></li>
          <li>[2]. <span>Netflix, Spotify and Hulu are registered trademarks</span></li>
          <li>[3]. <span>At the time of writing, Netflix is only available in standard definition. HD streams and DRM content may be subject to licensing and location</span></li>
          <li>[4]. <span>Requires a compatible Android device</span></li>
          <li>[5]. <span>Actual formatted capacity will be less</span></li>
        </ul>
      </div>
    </div>
  </section>

  <div class="vero-menu">
    <ul>
      <li class="current"><a href="#vero-intro">Intro</a></li>
      <li><a href="#vero-design">Design</a></li>
      <li><a href="#vero-performance">Performance</a></li>
      <li><a href="#vero-osmc">OSMC</a></li>
      <li><a href="#vero-order">Buy</a></li>
      <li><a href="#vero-faq">FAQ</a></li>
    </ul>
  </div>

</div>
