{{!< default}}
<div class="vero lightbox-wrap">

  <section id="vero-intro" class="row clearfix vero-first">
    <span class="vero-first-text">
      <h1 class="vero-first-title">The all new Vero 2<br>The same OSMC you've come to love</h1>
    </span>
    
    <div class="vero-first-img">
      <span class="vero-first-overlay"></span>
      <img src="{{asset "img/home/video-back.png"}}">
    </div>
    
    <span class="vero-first-buy">
      <a href="http://buy.getvero.tv" class="button-big1 button-vero">Grab your Vero 2 today</a>
    </span>
  </section>

  <section id="vero-design" class="row clearfix vero-design">
    <div class="container">
      <div class="vero-wrap">
        <div class="column two-thirds">
          <div class="vero-design-text">
            {{> svg/design}}
            <p>Vero has always been the best way to enjoy OSMC and Kodi. With the new Vero 2, this holds truer than ever before.</p>
            <p>Our new Vero 2 boasts great WiFi, support for H265, support for multiple operating systems and superior picture quality. Whether you're a newcomer or not, you'll be able to unleash the full potential of OSMC and Kodi without missing a beat.</p>
            <p>We worked hard to pack so much performance and functionality in such a small elegant device, and we're proud. Our new Vero 2 will breeze through anything, whether you're watching a full HD movie, browsing the web, torrenting, or doing all of this at the same time.</p>
            <p>This is Plug and Play. This is Vero 2.</p>
          </div>
        </div>
        <span class="vero-design-line-wrap">
          <span class="vero-design-line"></span>
        </span>
        <div class="column third">
          <div class="vero-design-images">
            <a class="lightbox" href="{{asset "img/vero2/vero-2.jpg"}}">
              <img src="{{asset "img/vero2/vero-2.jpg"}}">
            </a>
            <a class="lightbox" href="{{asset "img/vero2/vero-3.jpg"}}">
              <img src="{{asset "img/vero2/vero-3.jpg"}}">
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section id="vero-performance" class="row clearfix vero-perf">
    <div class="container">
      <div class="vero-wrap">
        
        <div class="column full">
          <div class="vero-perf-head">
            <h1 class="vero-perf-title">Performance and Features</h1>
          </div>
        </div>
        
        <div class="column full">
          <div class="vero-perf-sub">
            <h3>2x faster than Raspberry Pi 3</h3>
            <h3>Vero 2 features a fast quad core processor and a dual core GPU. Whatever you throw at it, Vero will handle it.</h3>
          </div>
        </div>
        
        <div class="column full">
          <span class="vero-feat-line"></span>
        </div>
                
        <div class="vero-feat">
          
          <div class="column half">
            <ul class="vero-feat-list">
              <li><h2><a class="current" href="#interlace">Advanced Deinterlacing</a></h2></li>
              <li><h2><a href="#hevc">HEVC / H265</a></h2></li>
              <li><h2><a href="#apps">Apps</a></h2></li>
              <li><h2><a href="#mirroring">Screen Mirroring</a></h2></li>
            </ul>
          </div>
          
          <div class="column half">
            <div class="vero-feat-content">
              
              <div class="vero-feat-box vero-feat-interlace">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero2/interlace.jpg"}}">
                  </div>
                  <p>Advanced motion adaptive deinterlacing means that Vero handles challenging video content such as Live TV with ease. With Vero 2, you’ll be able to enjoy TV in its full, pixel-perfect glory. The way it was meant to be watched.</p>
                </div>
              </div>
              
              <div class="vero-feat-box vero-feat-hevc">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero2/hevc.png"}}">
                  </div>
		  <p>H265 (also known as HEVC) is the next generation video codec. It delivers the same quality video at half the file size of H264. This year, more and more content is being encoded in this format. Vero 2 will breeze through your H265 content, making it future proof for years to come.</p>
                </div>
              </div>
              
              <div class="vero-feat-box vero-feat-apps">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero2/apps.jpg"}}">
                  </div>
                  <p>It's all about the Apps! With the new Vero 2, you can switch between Android and OSMC right from your remote. Experience the best of OSMC and Android on one device and enjoy popular Android apps right on the big screen. <span class="vero-ast-icon" title="See bottom">[1,2,3]</span></p>
                </div>
              </div>
              
              <div class="vero-feat-box vero-feat-mirroring">
                <div class="vero-feat-wrap">
                  <div class="vero-feat-img">
                    <img src="{{asset "img/vero2/mirroring.jpg"}}">
                  </div>
                  <p>OSMC Screen Mirroring lets you enjoy your apps on your Android smartphone or tablet right on the big screen. <span class="vero-ast-icon" title="See bottom">[4]</span></p>
                </div>
              </div>
            </div>

          </div>
        </div>        
      </div>
      
      <div class="vero-feat-buy">
          <a href="http://buy.getvero.tv" class="button-vero button-big1">Grab your Vero 2 today</a>
        </div>
    </div>
  </section>

  <section id="vero-osmc" class="row clearfix vero-osmc">
    
    <div class="vero-wrap">
      <div class="container">
        <img class="vero-osmc-title" src="{{asset "img/logo/logo1-w-big.png"}}">
        <div class="vero-osmc-text">
	<p>OSMC may be young but it has old ties and the team who have been working on it have been involved in open source TV software for over 5 years. In the last year, OSMC has evolved to become the world's most popular TV centric operating system. But that's not all. Vero 2 doesn't just let you enjoy OSMC, it lets you experience it to its full potential. We can say this with absolute confidence because we've designed both the hardware and the software. This means you'll experience the very best of performance, stability and functionality. The best thing is that we're just getting started. Vero 2 owners get to experience OSMC at its finest as well as see the way they watch TV get better and better, every month.</p>
	<p>In the Summer, we'll reveal OSMC Cloud, a new way to enjoy OSMC and your content wherever you are. Whether you watch TV on one one device or several, OSMC Cloud will simplify the way you archive your digital media and make managing your library simpler than ever. You'll be able to enjoy your library whether you're on a train on a rainy Monday morning, or tucked up in bed with your main streaming device downstairs.</p>
        </div>
      </div>
    </div>
    
  </section>

  <section id="vero-order" class="row clearfix vero-order">
    <div class="container">
      <div class="vero-wrap">
        
        <div class="column half flow-opposite">
          <div class="vero-order-text">
            <h1 class="vero-order-title">Vero 2</h1>
            <ul class="vero-order-info">
              <li><h3>Midnight Black</h3></li>
              <li><h3>£99</h3></li>
              <li><h3>Worldwide 3 Day Delivery</h3></li>
            </ul>
            <a href="http://buy.getvero.tv" class="button-vero">I want to get my own Vero 2</a>
            
          </div>
        </div>
        
        <div class="column half">
          <div class="vero-order-img">
            <a class="lightbox" href="{{asset "img/vero2/box.jpg"}}">
              <img src="{{asset "img/vero2/box.jpg"}}">
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <section id="vero-include" class="row clearfix vero-include">
    <div class="container">
      <div class="vero-wrap">
                
        <div class="column half flow-opposite">
          <h1 class="vero-include-title">In the box</h1>
          <ul>
            <li>Vero 2 8GB</li>
            <li>HDMI cable</li>
            <li>OSMC remote controller</li>
            <li>Power supply</li>
            <li>1 year international warranty</li>
            <li>5 years of software updates</li>
          </ul>
        </div>
        
        <div class="column half vero-include-tech">
          <h1 class="vero-include-title">Tech Specs</h1>
          <ul>
            <li>Quad Core 1.6Ghz processor</li>
            <li>Built in 802.11 b/g/n WiFi 2.4Ghz</li>
            <li>IR and RF receiver</li>
            <li>1GB DDR3 RAM</li>
            <li>8GB internal storage <span class="vero-ast-icon" title="See bottom">[5]</span></li>
            <li>4 USB ports</li>
            <li>SD card slot</li>
            <li>3.5mm SPDIF audio output</li>
            <li>HDMI 1.4 with CEC (control your Vero 2 with your TV remote)</li>
            <li>3D ready</li>
            <li>Fast Ethernet</li>
            <li>Full HD 24Hz output</li>
            <li>Dimensions: 11 x 11 x 2.2cm / 4.3 x 4.3 x 1 inches</li>
            <li>Weight: 150 grams / 5 oz</li>
          </ul>
        </div>
        
      </div>
    </div>
  </section>

  <section id="vero-faq" class="row clearfix vero-faq">
    <div class="container">
      <div class="vero-wrap">
        
        <div class="column full">
          <h1 class="vero-faq-title">FAQ</h1>
        </div>
        
        <div class="column half">
          <ul>
            <li>What warranty does Vero ship with? </li>
            <li>Vero 2 ships with a 1 year international warranty on the hardware and five years of software support. </li>
            <li>Can I upgrade Vero's storage? </li>
            <li>You can add external storage by popping in an SD card or a USB hard drive</li>
            <li>What are its physical dimensions? </li>
            <li>Vero 2 packs a lot of punch in a small size at a mere 11 x 11 x 2.2 cm and just 150 grams. You'll only come to appreciate its size and portability when it's in your hands</li>
            </ul>
        </div>
        
        <div class="column half">
          <ul>
            <li>Where does Vero 2 ship from? Will I have to pay customs? </li>
            <li>Vero 2 ships from the UK to anywhere in the world with 3-5 day delivery. You will not have to pay any customs charges</li>
            <li>Is Vero 2 that much faster than a Raspberry Pi 3? </li>
	    <li>Yep! The Raspberry Pi is centered around education, but the Vero 2 is centered around fun! Vero 2 is 50% faster than Raspberry Pi. When it comes to video -- Vero 2 has you covered. It will handle everything you throw at it, even H265!</li>
            <li>How long will the Vero 2 be supported for? </li>
            <li>We pride ourselves on our support. Unlike other vendors that stop supporting devices after a few months, we won't leave you in the dark. The Vero 2 will receive three years of guaranteed software updates delivering new features and performance improvements, and five years of guaranteed security updates.</li>
          </ul>
        </div>
        
      </div>
    </div>
  </section>

  <section id="vero-ast" class="row clearfix vero-ast">
    <div class="container">
      <div class="column full">
        <ul>
          <li>[1]. <span>Requires an SD card. Available for purchase separately. Android software can be downloaded and imaged on your own card from the OSMC website</span></li>
          <li>[2]. <span>Netflix, Spotify and Hulu are registered trademarks</span></li>
          <li>[3]. <span>At the time of writing, Netflix is only available in standard definition. HD streams and DRM content may be subject to licensing and location</span></li>
          <li>[4]. <span>Requires a compatible Android device</span></li>
          <li>[5]. <span>Actual formatted capacity will be less</span></li>
        </ul>
      </div>
    </div>
  </section>

  <div class="vero-menu">
    <ul>
      <li class="current"><a href="#vero-intro">New Vero 2</a></li>
      <li><a href="#vero-design">Design</a></li>
      <li><a href="#vero-performance">Performance</a></li>
      <li><a href="#vero-osmc">OSMC</a></li>
      <li><a href="#vero-order">Buy</a></li>
      <li><a href="#vero-faq">FAQ</a></li>
    </ul>
  </div>

</div>
