{{!< x-post}}

{{#store.product}}

<div class="store-product-top">
  <div class="column half">
    
    <div class="store-product-feat">
      <div class="store-product-feat" style="background-image: url('{{featured_src}}');">
        <img class="store-product-feat-placeholder" src="{{asset "img/placehold/500x400.png"}}">
      </div>
    </div>
    
    <div class="store-product-gallery lightbox-wrap">
      {{#each images}}
      <div class="store-product-img">
        <div class="store-product-img-wrap" style="background-image: url('{{src}}');">
          <a class="lightbox" href="{{src}}"><img src="{{asset "img/placehold/500x500.png"}}"></a>
        </div>
      </div>
      {{/each}}
    </div>
    
  </div>  

  <div class="column half store-product-info">
    <div class="store-product-price">
      {{{price_html}}}
    </div>
    
    {{#if in_stock}}
    
    <div class="store-product-quantity">
      <h4 class="store-product-quantity-title">Quantity:</h4>
      <input class="store-product-quantity-input" type="number" value="1" min="1">
    </div>
    
    {{#if variations}}
    
    <div class="store-product-var">
      <h4 class="store-product-var-title">{{variations.[0].attributes.[0].name}}:</h4>
      <select class="store-product-var-input {{name}}">
        {{#each variations}}
        {{#attributes.[0]}}
          <option data-id="{{../id}}" data-link="{{../permalink}}" value="{{option}}">{{option}}</option>
        {{/attributes.[0]}}
        {{/each}}
      </select>
    </div>

    {{/if}}
    
    
    <a data-name="Add to cart" class="button button-green store-product-cart" href="{{store-buy-url}}">Add to cart</a>
    {{else}} {{!in_stock}}
    <p class="store-product-out">Not in stock.</p>
    {{/if}}
  </div>
</div>


<div class="store-product-text">
  <hr>
  {{{short_description}}}
  {{#if description}}
  <hr>
  {{{description}}}
  {{/if}}
</div>

<iframe class="store-product-frame"></iframe>

{{/store.product}}