{{!< default}}

<div class="row clearfix main store-product">
  <div class="container">
    <article class="column full post-body">

      {{> post/header}}

      <div class="column three-fourths post-three post-break">
        {{> post/break}}
      </div>

      <div class="column three-fourths post-three post-wrap">

        <div class="post-content" itemprop="articleBody">
          {{#store.product}}
          
            <a data-name="Add to cart" class="button store-product-cart" href="{{store-buy-url}}">Add to cart</a>
          
            <input class="store-product-quantity" type="number" value="1">
          
            {{{price_html}}}
          
          
            {{#if variations}}
          
            <h4>{{variations.[0].attributes.[0].name}}</h4>
          
            <select class="store-product-variable {{name}}">
              {{#each variations}}
              {{#attributes.[0]}}

                <option data-id="{{../id}}" data-link="{{../permalink}}" value="{{option}}">{{option}}</option>
              
              {{/attributes.[0]}}
              {{/each}}
            </select>
          
            {{/if}}
                    
            {{{short_description}}}
          
            <hr>
          
            {{{description}}}
          
          {{/store.product}}
        </div>

      </div>

      {{> sidebar/store-product}}
      
      <iframe class="store-product-frame"></iframe>

    </article>
  </div>
</div>