{{!< default}}
{{#post}} 
<div class="row clearfix main {{post_class}}">
  <div class="container">
    <article class="column full post-body">
      
      <header class="column three-fourths post-three post-header">
        <h1 class="post-title">{{title}}</h1>
        <section class="post-meta">
          <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="DD MMMM YYYY"}}
          </time>
          <span class="post-tags">{{tags prefix=""}}</span>
        </section>
      </header>
			
			<div class="column three-fourths post-three post-break">
				{{> break}}
			</div>
      
      <div class="column three-fourths post-three post-content">
				
				{{content}}
				
				{{> break}}
				
				<footer class="post-footer">
					{{> share-buttons}}
				</footer>
				
				{{> break}}
				
				{{> comments}}
				
      </div>
			
			
      
      {{> sidebar}}
      
    </article>
  </div>
</div>
{{/post}}