<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {{#is "home"}}
  {{! Blog AKA Homepage}}
  <title>Blog - {{@blog.title}}</title>
  <meta property="og:title" content="Blog - {{@blog.title}}" />
  <meta property="og:url" content="{{@blog.url}}/blog" />
  <meta name="twitter:title" content="Blog - {{@blog.title}}" />
  <meta name="twitter:url" content="{{@blog.url}}/blog" />
  {{else}}
  {{#is "index"}}
  {{! Pagination}}
  <title>{{meta_title}}</title>
  <meta property="og:title" content="{{meta_title}}" />
  <meta property="og:url" content="{{@blog.url}}/blog{{url}}" />
  <meta name="twitter:title" content="{{meta_title}}" />
  <meta name="twitter:url" content="{{@blog.url}}/blog{{url}}" />
  {{else}}
  {{#post}}
  {{#has tag="home"}}
  {{! Homepage AKA static page}}
  <title>{{@blog.title}}</title>
  <meta property="og:title" content="{{@blog.title}}" />
  <meta property="og:url" content="{{@blog.url}}" />
  <meta name="twitter:title" content="{{@blog.title}}" />
  <meta name="twitter:url" content="{{@blog.url}}" />
  {{else}}
  {{! Dynamic page/post}}
  <title>{{title}} - {{@blog.title}}</title>
  <meta property="og:title" content="{{title}} - {{@blog.title}}" />
  <meta property="og:url" content="{{url absolute=true}}" />
  <meta name="twitter:title" content="{{title}} - {{@blog.title}}" />
  <meta name="twitter:url" content="{{url absolute=true}}" />
  {{/has}}
  {{/post}}
  {{/is}}
  {{/is}}
	
	{{#if wiki}}
	<p>efokeofk</p>
	{{/if}}
  
  <meta property="og:site_name" content="{{@blog.title}}" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{{meta_description}}" />
  
  <meta name="description" content="{{meta_description}}" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{asset "img/favicons/favicon.ico"}}">
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
  <link href='//fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/rss+xml" title="OSMC" href="/rss/">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  
  
  <style>
    .overlay {
      display: none;
    }
    .popup_donate {
      display: none;
    }
  </style>
  
</head>
{{wiki}}