<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{url}}page/{{prev}}">&larr; Newer</a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{url}}page/{{next}}">Older &rarr;</a>
    {{/if}}
</nav>