<nav class="pagination" role="navigation">
	{{^is "tag"}}
	
		{{#if prev}}
			<a class="newer-posts" href="{{url}}blog/page/{{prev}}">&larr; Newer</a>
		{{/if}}
		<span class="page-number">Page {{page}} of {{pages}}</span>
		{{#if next}}
			<a class="older-posts" href="{{url}}blog/page/{{next}}">Older &rarr;</a>
		{{/if}}

	{{else}}
	
		{{#if prev}}
			<a class="newer-posts" href="{{page_url prev}}">&larr; Newer</a>
		{{/if}}
		<span class="page-number">Page {{page}} of {{pages}}</span>
		{{#if next}}
			<a class="older-posts" href="{{page_url next}}">Older &rarr;</a>
		{{/if}}
	
	{{/is}}
</nav>
